.navbar{
    display: flex;
    align-items: center;
    background-color: aqua;
}

.navbar-links li{
    display: inline-block;
    margin-right: 1rem;
}
.navbar-links li a{
    text-decoration: none;
}

.logout{
    position:fixed;
    right: 1rem;
}

.logout a{
    color: red;
}