.navbar{
    display: flex;
    align-items: center;
    background-color: aqua;
}

.navbar-links li{
    display: inline-block;
    margin-right: 1rem;
}
.navbar-links li a{
    text-decoration: none;
}